body
{
    margin: 0;
    padding: 0;
    background-color: gray;
    
}
.lab
{
    margin-left: 50px;
    font-size: 20px;
    
}
.field{
    background-color:rgba(245, 222, 179, 0.214);
    border: 1px solid black;
}
.btn1
{
    margin-left: 155px;
    background-color:rgba(245, 222, 179, 0.214) ;
    border: 1px solid black;
    font-size: 15px;
    
}
.btn2
{
    margin-left: 15px;
    background-color:rgba(245, 222, 179, 0.214) ;
    border: 1px solid black;
    font-size: 15px;
    
}
h3
{
    margin-left: 55px;
    margin-top: 29px;
    font-weight: bold;
}
span
{
    margin-left: 55px;
    font-size: 15px;
    font-weight: bold;
}
